@model IEnumerable<RegisterLoginMVC.BookingList>

@{
    ViewBag.Title = "BookingReq";
}
<h1 style="color:white">User Booking Requests</h1>
<table class="table" style="color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUPTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.aName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUPTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.aName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Confirmation", "Confirmation", new { id = item.RideId })
        </td>
    </tr>
}

</table>
