@model RegisterLoginMVC.Admin

@{
    ViewBag.Title = "Login";
}

<fieldset style="color:white">
    <legend>
        Login Form
    </legend>
    @using (Html.BeginForm("Login", "Admins", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.aEmailId)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.aEmailId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.aEmailId, null, new { @class = "text text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.aPassword)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.aPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.aPassword, null, new { @class = "text text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="submit" value="Login" class="btn btn-primary" />

                            </td>

                            <td>
                                @Html.ActionLink("Register", "Register", "Admins", null, new { @class = "btn btn-secondary" })

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })
                </td>
            </tr>
        </table>
    }
</fieldset>


